body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #map {
    height: 100vh;
  }
  
  /* Style pour le popup des marqueurs */
  .leaflet-popup-content-wrapper {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  }
  
  .leaflet-popup-content {
    text-align: center;
    padding: 10px;
  }
  
  /* Style pour le titre du popup */
  .leaflet-popup-content h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Style pour le texte du popup */
  .leaflet-popup-content p {
    margin: 5px 0;
  }
  